.hero-background {
    width: 100%;
    box-sizing: border-box;
    background-image: url('./../../img/hero-background.svg');
    padding-inline: 5%;
    padding-top: 5%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.hero {
    background-color: var(--white);
    max-width: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    transform: translateY(20px);
    padding-top: 50px;
    padding-bottom: 20px;
    padding-inline: 50px;
}
.hero-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.hero-heading {
    font-family: 'Satisfy', cursive;
    color: var(--navy);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--blue-strong);
    font-size: 4rem;
    margin-block: 5px;
    margin-inline: 5px;
}
.hero-paragraph {
    color: var(--navy);
    font-size: 1.2rem;
    margin-block: 5px;
    max-width: 500px;
}
.hero-menu-link {
    padding-block: 10px;
    padding-inline: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    background-color: var(--blue-strong);
    border: 5px solid var(--blue);
    color: var(--white);
    border-radius: 10px;
    margin: 5px;
    margin-block: 20px;
    box-shadow: -5px 5px 0px 0px var(--navy);
}
.hero-menu-link:hover {
    outline: 3px solid var(--yellow);
}
.hero-image {
    object-fit: contain;
    width: 100%;
    max-width: 300px;
}
@media (max-width: 1000px) {
    .hero {
        flex-direction: column;
    }
    .hero-content {
        align-items: center;
    }
}
@media (max-width: 600px) {
    .hero-heading {
        font-size: 4rem;
        text-align: center;
    }
}