.intro {
    padding-block: 50px;
    padding-inline: 10%;
    background-color: var(--white);
}
.intro-heading {
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 7px;
}