@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Signika:wght@400;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  --white: #FCFCFC;
  --yellow: #FFBA08;
  --blue: #3772FF;
  --blue-strong: #003bc5;
  --navy: #032B43;
  --red: #EF2D56;
  font-family: 'Signika', sans-serif;
}